In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.ensemble import RandomForestClassifier

C:\Users\hp\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.25.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [5]:
df_train = pd.read_csv("C:/Users/hp/Downloads/Practical_Data/train.csv")
print(df_train.shape)
df_test = pd.read_csv("C:/Users/hp/Downloads/Practical_Data/test.csv")
print(df_test.shape)

(38, 7131)
(34, 7131)

In [6]:
df_train.head()

,Unnamed: 0,AFFX-BioB-5_at,AFFX-BioB-M_at,AFFX-BioB-3_at,AFFX-BioC-5_at,AFFX-BioC-3_at,AFFX-BioDn-5_at,AFFX-BioDn-3_at,AFFX-CreX-5_at,AFFX-CreX-3_at,...,U58516_at,U73738_at,X06956_at,X16699_at,X83863_at,Z17240_at,L49218_f_at,M71243_f_at,Z78285_f_at,cancer
0,0,-214,-153,-58,88,-295,-558,199,-176,252,...,511,-125,389,-37,793,329,36,191,-37,0
1,1,-139,-73,-1,283,-264,-400,-330,-168,101,...,837,-36,442,-17,782,295,11,76,-14,0
2,2,-76,-49,-307,309,-376,-650,33,-367,206,...,1199,33,168,52,1138,777,41,228,-41,0
3,3,-135,-114,265,12,-419,-585,158,-253,49,...,835,218,174,-110,627,170,-50,126,-91,0
4,4,-106,-125,-76,168,-230,-284,4,-122,70,...,649,57,504,-26,250,314,14,56,-25,0

In [7]:
df_test.head()

,Unnamed: 0,AFFX-BioB-5_at,AFFX-BioB-M_at,AFFX-BioB-3_at,AFFX-BioC-5_at,AFFX-BioC-3_at,AFFX-BioDn-5_at,AFFX-BioDn-3_at,AFFX-CreX-5_at,AFFX-CreX-3_at,...,U58516_at,U73738_at,X06956_at,X16699_at,X83863_at,Z17240_at,L49218_f_at,M71243_f_at,Z78285_f_at,cancer
0,0,-342,-200,41,328,-224,-427,-656,-292,137,...,1023,67,214,-135,1074,475,48,168,-70,0
1,1,-87,-248,262,295,-226,-493,367,-452,194,...,529,-295,352,-67,67,263,-33,-33,-21,0
2,2,22,-153,17,276,-211,-250,55,-141,0,...,399,16,558,24,893,297,6,1971,-42,0
3,3,-243,-218,-163,182,-289,-268,-285,-172,52,...,277,6,81,2,722,170,0,510,-73,0
4,4,-130,-177,-28,266,-170,-326,-222,-93,10,...,643,51,450,-46,612,370,29,333,-19,0

# Splitting the dataset

In [12]:
x_train = df_train.iloc[:,:-1]
y_train = df_train.iloc[:,-1:]
x_test = df_test.iloc[:,:-1]
y_test = df_test.iloc[:,-1:]
x_train.head()

,Unnamed: 0,AFFX-BioB-5_at,AFFX-BioB-M_at,AFFX-BioB-3_at,AFFX-BioC-5_at,AFFX-BioC-3_at,AFFX-BioDn-5_at,AFFX-BioDn-3_at,AFFX-CreX-5_at,AFFX-CreX-3_at,...,U48730_at,U58516_at,U73738_at,X06956_at,X16699_at,X83863_at,Z17240_at,L49218_f_at,M71243_f_at,Z78285_f_at
0,0,-214,-153,-58,88,-295,-558,199,-176,252,...,185,511,-125,389,-37,793,329,36,191,-37
1,1,-139,-73,-1,283,-264,-400,-330,-168,101,...,169,837,-36,442,-17,782,295,11,76,-14
2,2,-76,-49,-307,309,-376,-650,33,-367,206,...,315,1199,33,168,52,1138,777,41,228,-41
3,3,-135,-114,265,12,-419,-585,158,-253,49,...,240,835,218,174,-110,627,170,-50,126,-91
4,4,-106,-125,-76,168,-230,-284,4,-122,70,...,156,649,57,504,-26,250,314,14,56,-25

In [13]:
y_train.head()

   cancer
0       0
1       0
2       0
3       0
4       0

# Training the model

In [14]:
rf_model = RandomForestClassifier(random_state=0)

rf_model.fit(x_train, y_train.values)

rf_pred = rf_model.predict(x_test)
accuracy_score(y_test, rf_pred)

C:\Users\hp\AppData\Local\Temp\ipykernel_17812\1768619533.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf_model.fit(x_train, y_train.values)

0.6470588235294118

In [15]:
confusion_matrix(y_test,rf_pred)

array([[18,  2],
       [10,  4]], dtype=int64)