In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from warnings import filterwarnings
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression

df = pd.read_csv("C:/Users/hp/Downloads/Practical_Data/email_spam.csv")
df.head()

,title,text,type
0,?? the secrets to SUCCESS,"Hi James,\n\nHave you claim your complimentary...",spam
1,?? You Earned 500 GCLoot Points,"\nalt_text\nCongratulations, you just earned\n...",not spam
2,?? Your GitHub launch code,"Here's your GitHub launch code, @Mortyj420!\n ...",not spam
3,[The Virtual Reward Center] Re: ** Clarifications,"Hello,\n \nThank you for contacting the Virtua...",not spam
4,"10-1 MLB Expert Inside, Plus Everything You Ne...","Hey Prachanda Rawal,\n\nToday's newsletter is ...",spam

In [8]:
df.isna().sum()

title    0
text     0
type     0
dtype: int64

In [9]:
df.shape

(84, 3)

In [10]:
df.dtypes

title    object
text     object
type     object
dtype: object

In [11]:
df.describe()

          title                                               text      type
count        84                                                 84        84
unique       78                                                 82         2
top     English  Model Casting Call\nThank you for taking the t...  not spam
freq          3                                                  2        58

In [12]:
df1 = df
df1.duplicated().sum()

1

In [13]:
df2 = df1.drop_duplicates()
df2.duplicated().sum()

0

In [14]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df2['spam'] = df2["type"]
df2['spam'] = le.fit_transform(df2['spam'])
df2.head()

C:\Users\hp\AppData\Local\Temp\ipykernel_11236\4057454296.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['spam'] = df2["type"]
C:\Users\hp\AppData\Local\Temp\ipykernel_11236\4057454296.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['spam'] = le.fit_transform(df2['spam'])

,title,text,type,spam
0,?? the secrets to SUCCESS,"Hi James,\n\nHave you claim your complimentary...",spam,1
1,?? You Earned 500 GCLoot Points,"\nalt_text\nCongratulations, you just earned\n...",not spam,0
2,?? Your GitHub launch code,"Here's your GitHub launch code, @Mortyj420!\n ...",not spam,0
3,[The Virtual Reward Center] Re: ** Clarifications,"Hello,\n \nThank you for contacting the Virtua...",not spam,0
4,"10-1 MLB Expert Inside, Plus Everything You Ne...","Hey Prachanda Rawal,\n\nToday's newsletter is ...",spam,1

In [15]:
df2["text"] = df2["text"].replace("\n","", regex=True)
df2.head()

C:\Users\hp\AppData\Local\Temp\ipykernel_11236\3449783893.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["text"] = df2["text"].replace("\n","", regex=True)

,title,text,type,spam
0,?? the secrets to SUCCESS,"Hi James,Have you claim your complimentary gif...",spam,1
1,?? You Earned 500 GCLoot Points,"alt_textCongratulations, you just earned500You...",not spam,0
2,?? Your GitHub launch code,"Here's your GitHub launch code, @Mortyj420! an...",not spam,0
3,[The Virtual Reward Center] Re: ** Clarifications,"Hello, Thank you for contacting the Virtual Re...",not spam,0
4,"10-1 MLB Expert Inside, Plus Everything You Ne...","Hey Prachanda Rawal,Today's newsletter is Jam-...",spam,1

In [16]:
x_train, x_test, y_train, y_test = train_test_split(df2['text'], df2['spam'], test_size = 0.1)

In [17]:
v = CountVectorizer()
x_train_count = v.fit_transform(x_train.values)
x_test_count = v.transform(x_test)
x_train_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [4, 2, 0, ..., 1, 0, 0]], dtype=int64)

In [18]:
model = LogisticRegression()
model.fit(x_train_count, y_train)

LogisticRegression()

In [19]:
model.score(x_test_count, y_test)

0.7777777777777778

In [20]:
email = ['50% discount on data science courses singup now']

new_email = v.transform(email)
ans = model.predict(new_email)
if ans[0] == 1:
    print("Spam")
else:
    print("Not Spam")

Spam